@media (min-width:916px) and (max-width: 1027px ) {
    .type-music-item{
        font-size: 14px;
    }
    .sidebar-item, .sidebar-library-menu{
        font-size: 24px;
    }
    .music-frame{
        width: 100%;
    }
    .sidebar{
        border-right: 1px solid #ccc;
        width: 450px;
    }
    .sidebar-list, .sidebar-library {
        list-style: none;
        margin: 0 12px;
    }
}

@media(min-width:867px) and (max-width:917px){
    .type-music-item{
        font-size: 14px;
    }
    .sidebar-item, .sidebar-library-menu{
        font-size: 24px;
    }
    .music-frame{
        width: 100%;
    }
    .sidebar{
        border-right: 1px solid #ccc;
        width: 400px;
    }
    .sidebar-list, .sidebar-library {
        list-style: none;
        margin: 0 8px;
    }
    
}
@media(min-width:719px) and (max-width:868px)
{
    .type-music-item{
        font-size: 14px;
        padding: 12px;
        margin: 8px 8px;
        width: 50%;
    }
    .sidebar-item, .sidebar-library-menu{
        font-size: 24px;
    }
    .music-frame{
        width: 100%;
    }
    .sidebar{
        border-right: 1px solid #ccc;
        width: 400px;
    }
    .sidebar-list, .sidebar-library {
        list-style: none;
        margin: 0 0px;
    }
    .header-logo{
        width: 120px;
        height: 60px;
    }

    .header-sign-btn{
        border: none;
        background: none;
        font-size: 16px;
        padding: 8px 6px;
        color: white;
    }
}
@media (min-width:703px) and (max-width:718px){
    .type-music-item{
        font-size: 14px;
        padding: 12px;
        margin: 8px 8px;
        width: 50%;
    }
    .sidebar-item, .sidebar-library-menu{
        display: flex;
        font-size: 24px;
        border: 1px solid #ccc;
        border-radius: 25%;
        margin-top: 10px;
        margin-right: 10px;
    }
    .music-author{
        font-size: 8px;
    }
    .music-frame{
        width: 50%;
    }
    .sidebar{
        border-right: 1px solid #ccc;
        width: auto;
    }
    .sidebar-list, .sidebar-library {
        list-style: none;
        margin: 0 0px;
    }
    .header-logo{
        width: 120px;
        height: 60px;
    }

    .header-sign-btn{
        border: none;
        background: none;
        font-size: 16px;
        padding: 8px 6px;
        color: white;
    }
    .text_sidebar_item{
        display: none;
        margin: 0;
    }
}


@media (min-width:575px) and (max-width:702px){
    .type-music-item{
        font-size: 14px;
        border-radius: 12px;
        padding: 12px;
        margin: 8px 8px;
        width: 50%;
    }
    .sidebar-item, .sidebar-library-menu{
        display: flex;
        font-size: 24px;
        border: 1px solid #ccc;
        border-radius: 25%;
        margin-top: 10px;
        margin-right: 10px;
    }
    .music-frame{
        width: 100%;
    }
    .sidebar{
        width: auto;
    }
    .sidebar-list, .sidebar-library {
        list-style: none;
        margin: 0 0px;
    }
    .header-logo{
        width: 120px;
        height: 60px;
    }

    .header-sign-btn{
        border: none;
        background: none;
        font-size: 10px;
        padding: 6px 4px;
        color: white;
    }
    .text_sidebar_item{
        display: none;
        margin: 0;
    }
     .type-music-list{
        list-style: none;
        margin-top: 12px;
    }
 

}

    @media(max-width:574px)
    {
        .header_none{
            display: none;
        }

        .type-music-item{
            font-size: 14px;
            border-radius: 12px;
            padding: 12px;
            margin: 8px 8px;
            width: 40%;
            text-align: center;

        }
        .sidebar-item, .sidebar-library-menu{
            display: flex;
            font-size: 24px;
            border: 1px solid #ccc;
            border-radius: 25%;
            margin-top: 10px;
            margin-right: 10px;
           
        }
        .music-frame{
            width: 100%;
        }
        .sidebar{
            border-right: 1px solid #ccc;
            width: auto;
        }
        .sidebar-list, .sidebar-library {
            list-style: none;
            margin: 0 0px;
        }
        .header-logo{
            width: 120px;
            height: 60px;
        }
    
        .header-sign-btn{
            border: none;
            background: none;
            font-size: 12px;
            padding: 6px 4px;
            color: white;
        }
        .text_sidebar_item{
            display: none;
            margin: 0;
        }
         .type-music-list{
            list-style: none;
            display: flex;
            margin-top: 12px;
            flex-wrap: wrap-reverse;
            justify-content: flex-start;
            margin-left: 12px;
        }
        .header-sign-span{
            display: none;
            
        }

        
        .header-input-wrap{
            height: 100%;
            flex: 1;
            position: relative;
            line-height: 24px;
        }
        .header-search-input{
            border: none;
            font-size: 12px;
            padding: 4px 2px;
            outline: none;
            width: 100%;
        }
        .header-with-search{
            margin: 0 10px;
            border: 1px solid #ccc;
            padding: 4px 8px;
            background-color: white;
            display: flex;
            width: 50%;
            border-radius: 4px;
        }
        .music-author{
            font-size: 8px;
        }
    }