
@media (max-width: 1308px) and (min-width: 1025px){
    .text_sidebar_item{
        font-size: 20px;
    }
    .sidebar{
        min-width: 234px;
    }

}


/* tablet */
@media (max-width: 1024px) and (min-width: 744px){

    .header-logo{
        width: 120px;
        height: 80px;
        margin-left: 10px;
    }

    .header-with-search{
        width: 40%;
        margin: 0 10px;
        border: 1px solid #8a8a8a;
        padding: 4px 12px;
        background-color: white;
        display: flex;
        border-radius: 12px;
    }
    
    .header-input-wrap{
        height: 100%;
        flex: 1;
        position: relative;
        line-height: 30px;
    }
    .header-search-input{
        border: none;
        font-size: 14px;
        padding: 4px 2px;
        outline: none;
        width: 100%;
    }
    .header-search{
        border: none;
        background: #8628c5;
        font-size: 16px;
        margin-left: 4px;
        padding: 4px 8px;
        color: white;
        border-radius: 8px;
    }
    .header-sign-btn{
        border: none;
        background: none;
        font-size: 16px;
        padding: 10px 24px;
        border-radius: 9999px;
        color: white;
    }
    .header-sign{
        padding-right: 20px;
        display: flex;
        justify-content: space-around;
    }
    
    .header-sign-up{
        color: rgba(255, 255, 255, 0.9);
        font-weight: 500;
    }
    
    .header-sign-in{
        background-color: #e4e4e4;
        color: #000;
    }

    /* sidebar */

    .sidebar{
        width: 100px;
    }
    .sidebar-item{
        padding: 4px;
        border: 1px solid #ccc;
        margin: 12px;
        display: block;
        text-align: center;
        border-radius: 4px;
    }

    .sidebar-item-child{
        padding: 0;
    }
    .text-sidebar-item{
        display: none;
    }

    .content{
        margin-left: 100px;
    }


}

/* mobile */
@media (max-width: 743px){

    .header-logo{
        width: 100px;
        height: 40px;
        margin-left: 10px;
    }

    .header-with-search{
        width: 40%;
        margin: 0 10px;
        border: 1px solid #8a8a8a;
        padding: 4px 12px;
        background-color: white;
        display: flex;
        border-radius: 12px;
    }
    
    .header-input-wrap{
        height: 100%;
        flex: 1;
        position: relative;
        line-height: 30px;
    }
    .header-search-input{
        border: none;
        font-size: 14px;
        padding: 4px 2px;
        outline: none;
        width: 100%;
    }
    .header-search{
        border: none;
        background: #8628c5;
        font-size: 16px;
        margin-left: 4px;
        padding: 4px 8px;
        color: white;
        border-radius: 8px;
    }
    .header-sign-btn{
        border: none;
        background: none;
        font-size: 16px;
        padding: 10px 24px;
        border-radius: 9999px;
        color: white;
    }
    .header-sign{
        padding-right: 20px;
        display: flex;
        justify-content: space-around;
    }
    
    .header-sign-up{
        color: rgba(255, 255, 255, 0.9);
        font-weight: 500;
    }
    
    .header-sign-in{
        background-color: #e4e4e4;
        color: #000;
    }
    
    /* sidebar */

    .sidebar{
        width: 100px;
    }
    .sidebar-item{
        padding: 4px;
        border: 1px solid #ccc;
        margin: 12px;
        display: block;
        text-align: center;
        border-radius: 4px;
    }

    .sidebar-item-child{
        padding: 0;
    }
    .text-sidebar-item{
        display: none;
    }

    .content{
        margin-left: 100px;
    }

    .music-frame{
        width: 100%;
    }

    .type-music-list{
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    .type-music-item{
        width: 40%;
        padding: 10px;
        margin: 5px 10px;
    }

    .header-sign{
        margin: 0;
        text-align: center;
    }

    .header-sign-span{
        height: 0;
        border: none;
    }
    .header-sign-btn{
        font-size: 16px;
        padding: 8px 4px;
    }
}